/*@mixin schedule_row_with_bg($bg_color) {
    background: none;
    position: relative;
    overflow: visible;
    z-index: 0;
    border-top: 0;

    &:before {
        content: '';
        background: $bg_color;
        position: absolute;
        left: -100%;
        top: 0;
        width: 300%;
        height: 100%;
        border-top: 1px solid $schedule-border-color;
        border-bottom: 1px solid $schedule-border-color;
        z-index: -1;
    }

    &:last-child {
        border-bottom: 0;
    }

}*/
.clear {
  clear: both;
}

.conf-sch-event-links {
  display: inline-block;
  list-style: none;
  border: 0;
  margin: 0 !important;
  padding: 0;
  text-align: left;
}
.conf-sch-event-links li {
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
  border: 0;
  padding: 0;
}
.conf-sch-event-links li a {
  display: block;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5px 20px;
  color: inherit;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
}
.conf-sch-event-links li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.conf-sch-event-links li.event-hashtag {
  font-weight: bold;
}
.conf-sch-event-links li.event-hashtag a {
  background-color: #55acee;
  color: #fff;
}
.conf-sch-event-links li.event-hashtag a:hover {
  background-color: #147bc9;
}
.conf-sch-event-links li.event-slides {
  font-weight: bold;
}
.conf-sch-event-links li.event-slides a {
  background-color: #02528d;
  color: #fff;
}
.conf-sch-event-links li.event-slides a:hover {
  background-color: #011828;
}
.conf-sch-event-links li.event-feedback {
  font-weight: bold;
}
.conf-sch-event-links li.event-feedback a {
  background-color: #46852b;
  color: #fff;
}
.conf-sch-event-links li.event-feedback a:hover {
  background-color: #325e1f;
}

#conf-sch-single-meta {
  display: none;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin: 15px 0 30px 0;
  padding: 20px;
  font-size: 1em;
  line-height: 1.6em;
}
#conf-sch-single-meta .event-meta {
  display: block;
  margin: 0 0 5px 0;
}
#conf-sch-single-meta .event-meta-label {
  font-weight: bold;
}
#conf-sch-single-meta .conf-sch-event-links {
  display: block;
  margin: 15px 0 0 0;
}
#conf-sch-single-meta .conf-sch-event-links li a {
  display: block;
}

@media not all and (min-width: 0) and (max-width: 620px) {
  #conf-sch-single-meta {
    float: right;
    margin-left: 30px;
    min-width: 300px;
    max-width: 350px;
  }
}
#conf-sch-single-speakers {
  display: none;
}
#conf-sch-single-speakers .speaker-thumb {
  float: left;
  max-width: 200px;
  height: auto;
  margin: 0 20px 20px 0;
}
#conf-sch-single-speakers .speaker-meta {
  display: block;
  font-style: italic;
  margin: 0 0 10px 0;
}
#conf-sch-single-speakers .speaker-meta .speaker-url {
  display: block;
}

#conference-schedule .schedule-table {
  margin: 0 0 30px 0;
}
#conference-schedule .schedule-table .schedule-row {
  clear: both;
  overflow: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px 0;
  /*&.current {
      @include schedule_row_with_bg( rgba( #f9ff00, 0.2 ) );
  }*/
}
#conference-schedule .schedule-table .schedule-row:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#conference-schedule .schedule-table .schedule-row .schedule-event {
  overflow: auto;
  margin: 0 0 25px 0;
}
#conference-schedule .schedule-table .schedule-row .schedule-event .event-time {
  display: block;
}
#conference-schedule .schedule-table .schedule-row .schedule-event .event-title {
  font-weight: bold;
  margin: 0 0 10px 0;
  font-size: 22px;
  line-height: 26px;
}
#conference-schedule .schedule-table .schedule-row .schedule-event .event-location {
  display: block;
  font-style: italic;
  margin: -4px 0 7px 0;
  font-size: 19px;
  line-height: 22px;
}
#conference-schedule .schedule-table .schedule-row .schedule-event .event-speakers {
  font-size: 18px;
  line-height: 25px;
  color: #222;
  font-weight: bold;
}
#conference-schedule .schedule-table .schedule-row .schedule-event .event-desc {
  /*.twitter-to-left {
      background-size: auto 20px;
      padding: 0 0 0 30px;
  }*/
}
#conference-schedule .schedule-table .schedule-row .schedule-event .event-desc > *:last-child {
  margin-bottom: 0;
}
#conference-schedule .schedule-table .schedule-row .schedule-event > *:last-child {
  margin-bottom: 0;
}
#conference-schedule .schedule-table .schedule-row .schedule-row-item {
  display: block;
  clear: both;
  background: none;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#conference-schedule .schedule-table .schedule-row .schedule-row-item.time {
  display: none;
}
#conference-schedule .schedule-table .schedule-row .schedule-row-item.events .schedule-event:last-child {
  margin-bottom: 0;
}
#conference-schedule .schedule-table .schedule-row.current + .schedule-row {
  border-top: 0;
}
#conference-schedule .schedule-table .schedule-row.current + .schedule-row:before {
  border-top: 0;
}

/*.collapsible-schedule-block {
    display : block;
    clear: both;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0;
    margin: 0 -10px 30px -10px;
    overflow: hidden;

    .schedule-header {
        background: rgba( #000, 0.04 );
        margin: 0;
        padding: 10px;
        position: relative;
        z-index: 0;
        cursor: pointer;

        &:before {
            content: 'View';
            position: absolute;
            right: 15px;
            top: 50%;
            margin: -9px 0 0 0;
            font-size: 15px;
            line-height: 1.2;
            font-weight: normal;
            text-transform: uppercase;
            cursor: pointer;
            z-index: -1;
        }

    }

    .schedule-table {
        display: none;
    }

    &.open {

        .schedule-header {

            &:before {
                content: 'Close';
            }

        }

        .schedule-table {
            display: block;
            margin: 0;
            padding: 0;
        }

    }

}*/
/*body.page-template-schedule {

    .schedule-main-buttons-wrapper {
        margin: -10px 0 30px 0;

        .btn {
            font-size: 20px;
            line-height: 1.7;
            text-decoration: none;
            margin: 0;
        }

        .btn.conference-eval {
            display: block;
            width: 100%;
        }

        .btn.go-to-current-event {
            display: none; // Hide by default
            background: $heweb-blue;
            width: 100%;
            border: 0;
            text-transform: uppercase;

            &:hover {
                background: darken($heweb-blue, 8%);
            }

        }

        .btn.go-to-current-event + .schedule-header {
            margin-top: 0 !important;
        }

        &.has-go-to-event {

            .btn + .btn {
                margin-top: 10px;
            }

        }

    }

}*/
/*@media not all and (min-width: 0) and (max-width: $screen-xs-max) {

    // Tweak the schedule page
    body.page-template-schedule {

        .schedule-main-buttons-wrapper {
            margin: -10px 0 15px 0;
            font-size: 16px;
            line-height: 1.7;
            overflow: auto;

            .btn {
                margin: 0 !important;

                &.go-to-current-event {
                    width: auto;
                    float: right;
                    margin-left: 20px !important;
                }

            }

            &.has-go-to-event {

                .btn.conference-eval {
                    width: auto;
                    float: left;
                }

            }

        }

    }

}*/
@media not all and (min-width: 0) and (max-width: 990px) {
  #conference-schedule .schedule-table .schedule-row {
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
                /*&.current {
                    background: rgba( #f9ff00, 0.2 );

                    &:before {
                        display: none;
                    }

                }*/
  }
  #conference-schedule .schedule-table .schedule-row:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  }
  #conference-schedule .schedule-table .schedule-row .schedule-event {
    margin-bottom: 0;
  }
  #conference-schedule .schedule-table .schedule-row .schedule-event .event-time {
    display: none;
  }
  #conference-schedule .schedule-table .schedule-row .schedule-row-item {
    display: block;
    clear: none;
    float: left;
  }
  #conference-schedule .schedule-table .schedule-row .schedule-row-item.time {
    display: block;
    width: 15%;
    padding: 0 10px 0 0;
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 8px 0;
    opacity: 0.9;
  }
  #conference-schedule .schedule-table .schedule-row .schedule-row-item.events {
    width: 85%;
  }
  #conference-schedule .schedule-table .schedule-row .schedule-row-item.events .session {
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #conference-schedule .schedule-table .schedule-row .schedule-row-item.events .session:first-child:nth-last-child(2), #conference-schedule .schedule-table .schedule-row .schedule-row-item.events .session:first-child:nth-last-child(2) ~ .session, #conference-schedule .schedule-table .schedule-row .schedule-row-item.events .session:first-child:nth-last-child(4), #conference-schedule .schedule-table .schedule-row .schedule-row-item.events .session:first-child:nth-last-child(4) ~ .session {
    float: left;
    width: 50%;
  }
  #conference-schedule .schedule-table .schedule-row .schedule-row-item.events .session:first-child:nth-last-child(3), #conference-schedule .schedule-table .schedule-row .schedule-row-item.events .session:first-child:nth-last-child(3) ~ .session {
    float: left;
    width: 33.3333%;
  }
  #conference-schedule .schedule-table .schedule-row .schedule-row-item.events .session:first-child {
    padding-left: 0;
  }
  #conference-schedule .schedule-table .schedule-row .schedule-row-item.events .session:last-child {
    padding-right: 0;
  }
}
