//
// These are the styles for when
// we display the conference schedule.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Define our colors
$keynote-bg: rgba( #7a181f, 0.08 );
$food-bg: rgba( #409b40, 0.06 );
$social-bg: rgba( #402e83, 0.03 );
$auditorium-bg: rgba( #c6dbf1, 0.3 );
$break-bg: rgba( #000, 0.01 );
$schedule-border-color: rgba( #000, 0.1 );
$twitter-blue: #55acee;

// Will set transition values
@mixin set-transition( $transform... ) {
    -webkit-transition: $transform;
    -moz-transition: $transform;
    -ms-transition: $transform;
    -o-transition: $transform;
    transition: $transform;
}

// For the different event types
//$event_types: ('keynote': $keynote-bg) ('food': $food-bg) ('social': $social-bg) ('auditorium': $auditorium-bg) ('break': $break-bg);

// Give color to a schedule row
/*@mixin schedule_row_with_bg($bg_color) {
    background: none;
    position: relative;
    overflow: visible;
    z-index: 0;
    border-top: 0;

    &:before {
        content: '';
        background: $bg_color;
        position: absolute;
        left: -100%;
        top: 0;
        width: 300%;
        height: 100%;
        border-top: 1px solid $schedule-border-color;
        border-bottom: 1px solid $schedule-border-color;
        z-index: -1;
    }

    &:last-child {
        border-bottom: 0;
    }

}*/

.clear {
    clear: both;
}

.conf-sch-event-links {
    display: inline-block;
    list-style: none;
    border: 0;
    margin: 0 !important;
    padding: 0;
    text-align: left;

    li {
        display: block;
        list-style: none;
        margin: 10px 0 0 0;
        border: 0;
        padding: 0;

        a {
            display: block;
            background-color: rgba( #000, 0.05 );
            padding: 5px 20px;
            color: inherit;
            text-align: center;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            text-decoration: none;
            @include set-transition( background-color 1s ease );

            &:hover {
                background-color: rgba( #000, 0.2 );
            }

        }

        &.event-hashtag {
            font-weight: bold;

            a {
                background-color: $twitter-blue;
                color: #fff;

                &:hover {
                    background-color: darken( $twitter-blue, 20% );
                }

            }

        }

        &.event-slides {
            font-weight: bold;

            a {
                background-color: #02528d;
                color: #fff;

                &:hover {
                    background-color: darken( #02528d, 20% );
                }

            }

        }

        &.event-feedback {
            font-weight: bold;

            a {
                background-color: #46852b;
                color: #fff;

                &:hover {
                    background-color: darken( #46852b, 10% );
                }

            }

        }

    }

}

// Customize the single schedule pages
#conf-sch-single-meta {
    display: none;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin: 15px 0 30px 0;
    padding: 20px;
    font-size: 1em;
    line-height: 1.6em;

    .event-meta {
        display: block;
        margin: 0 0 5px 0;
    }

    .event-meta-label {
        font-weight: bold;
    }

    .conf-sch-event-links {
        display: block;
        margin: 15px 0 0 0;

        li {

            a {
                display: block;
            }

        }

    }

}

// Move meta to the right when screen gets larger
@media not all and (min-width: 0) and (max-width: 620px) {

    #conf-sch-single-meta {
        float: right;
        margin-left: 30px;
        min-width: 300px;
        max-width: 350px;
    }

}

// Customize the speakers on single schedule pages
#conf-sch-single-speakers {
    display: none;

    .speaker-thumb {
        float: left;
        max-width: 200px;
        height: auto;
        margin: 0 20px 20px 0;
    }

    .speaker-meta {
        display: block;
        font-style: italic;
        margin: 0 0 10px 0;

        .speaker-url {
            display: block;
        }

    }

}

#conference-schedule {

    .schedule-table {
        margin: 0 0 30px 0;

        .schedule-row {
            clear: both;
            overflow: auto;
            border-top: 1px solid $schedule-border-color;
            padding: 25px 0;

            &:last-child {
                border-bottom: 1px solid $schedule-border-color;
            }

            .schedule-event {
                overflow: auto;
                margin: 0 0 25px 0;

                .event-time {
                    display: block;
                }

                .event-title {
                    font-weight: bold;
                    margin: 0 0 10px 0;
                    font-size: 22px;
                    line-height: 26px;
                }

                .event-location {
                    display: block;
                    font-style: italic;
                    margin: -4px 0 7px 0;
                    font-size: 19px;
                    line-height: 22px;
                }

                .event-speakers {
                    font-size: 18px;
                    line-height: 25px;
                    color: #222;
                    font-weight: bold;
                }

                .event-desc {

                    /*.twitter-to-left {
                        background-size: auto 20px;
                        padding: 0 0 0 30px;
                    }*/

                    & > *:last-child {
                        margin-bottom: 0;
                    }

                }

                & > *:last-child {
                    margin-bottom: 0;
                }

            }

            .schedule-row-item {
                display: block;
                clear: both;
                background: none;
                position: relative;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;

                &.time {
                    display: none;
                }

                &.events {

                    .schedule-event:last-child {
                        margin-bottom: 0;
                    }

                }

            }

            /*&.current {
                @include schedule_row_with_bg( rgba( #f9ff00, 0.2 ) );
            }*/

        }

        .schedule-row.current + .schedule-row {
            border-top: 0;

            &:before {
                border-top: 0;
            }

        }

    }

}

/*.collapsible-schedule-block {
    display : block;
    clear: both;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0;
    margin: 0 -10px 30px -10px;
    overflow: hidden;

    .schedule-header {
        background: rgba( #000, 0.04 );
        margin: 0;
        padding: 10px;
        position: relative;
        z-index: 0;
        cursor: pointer;

        &:before {
            content: 'View';
            position: absolute;
            right: 15px;
            top: 50%;
            margin: -9px 0 0 0;
            font-size: 15px;
            line-height: 1.2;
            font-weight: normal;
            text-transform: uppercase;
            cursor: pointer;
            z-index: -1;
        }

    }

    .schedule-table {
        display: none;
    }

    &.open {

        .schedule-header {

            &:before {
                content: 'Close';
            }

        }

        .schedule-table {
            display: block;
            margin: 0;
            padding: 0;
        }

    }

}*/

// Tweak the schedule page
/*body.page-template-schedule {

    .schedule-main-buttons-wrapper {
        margin: -10px 0 30px 0;

        .btn {
            font-size: 20px;
            line-height: 1.7;
            text-decoration: none;
            margin: 0;
        }

        .btn.conference-eval {
            display: block;
            width: 100%;
        }

        .btn.go-to-current-event {
            display: none; // Hide by default
            background: $heweb-blue;
            width: 100%;
            border: 0;
            text-transform: uppercase;

            &:hover {
                background: darken($heweb-blue, 8%);
            }

        }

        .btn.go-to-current-event + .schedule-header {
            margin-top: 0 !important;
        }

        &.has-go-to-event {

            .btn + .btn {
                margin-top: 10px;
            }

        }

    }

}*/

// Small and Larger
/*@media not all and (min-width: 0) and (max-width: $screen-xs-max) {

    // Tweak the schedule page
    body.page-template-schedule {

        .schedule-main-buttons-wrapper {
            margin: -10px 0 15px 0;
            font-size: 16px;
            line-height: 1.7;
            overflow: auto;

            .btn {
                margin: 0 !important;

                &.go-to-current-event {
                    width: auto;
                    float: right;
                    margin-left: 20px !important;
                }

            }

            &.has-go-to-event {

                .btn.conference-eval {
                    width: auto;
                    float: left;
                }

            }

        }

    }

}*/

// Medium and Larger
@media not all and (min-width: 0) and (max-width: 990px) {

    #conference-schedule {

        .schedule-table {

            .schedule-row {
                border-top: 1px solid $schedule-border-color !important;

                &:last-child {
                    border-bottom: 1px solid $schedule-border-color !important;
                }

                /*&.current {
                    background: rgba( #f9ff00, 0.2 );

                    &:before {
                        display: none;
                    }

                }*/

                .schedule-event {
                    margin-bottom: 0;

                    .event-time {
                        display: none;
                    }

                }

                .schedule-row-item {
                    display: block;
                    clear: none;
                    float: left;

                    &.time {
                        display: block;
                        width: 15%;
                        padding: 0 10px 0 0;
                        font-size: 15px;
                        line-height: 18px;
                        margin: 0 0 8px 0;
                        opacity: 0.9;
                    }

                    &.events {
                        width: 85%;

                        .session {
                            padding: 0 10px;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;

                            // Two and four items
                            &:first-child:nth-last-child(2),
                            &:first-child:nth-last-child(2) ~ .session,
                            &:first-child:nth-last-child(4),
                            &:first-child:nth-last-child(4) ~ .session {
                                float: left;
                                width: 50%;
                            }

                            // Three items
                            &:first-child:nth-last-child(3),
                            &:first-child:nth-last-child(3) ~ .session {
                                float: left;
                                width: 33.3333%;
                            }

                            &:first-child {
                                padding-left: 0;
                            }

                            &:last-child {
                                padding-right: 0;
                            }

                        }

                    }

                }

            }

        }

    }

}