@charset "UTF-8";

@font-face {
    font-family: "conf-schedule-icons";
    src:url("../fonts/conf-schedule-icons.eot");
    src:url("../fonts/conf-schedule-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/conf-schedule-icons.woff") format("woff"),
    url("../fonts/conf-schedule-icons.ttf") format("truetype"),
    url("../fonts/conf-schedule-icons.svg#conf-schedule-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.conf-sch-icon,
[class^="conf-sch-icon-"],
[class*=" conf-sch-icon-"] {
    font-size: inherit !important;
    line-height: inherit !important;

    &:before {
        font-family: "conf-schedule-icons" !important;
        font-style: normal !important;
        font-weight: normal !important;
        line-height: inherit !important;
        font-variant: normal !important;
        text-transform: none !important;
        font-size: inherit !important;
        line-height: inherit !important;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &.conf-sch-icon-facebook:before {
        content: "\61";
    }
    &.conf-sch-icon-facebook-square:before {
        content: "\62";
    }
    &.conf-sch-icon-facebook-square-radius:before {
        content: "\63";
    }
    &.conf-sch-icon-twitter:before {
        content: "\64";
    }
    &.conf-sch-icon-twitter-square-radius:before {
        content: "\65";
    }
    &.conf-sch-icon-instagram:before {
        content: "\66";
    }
    &.conf-sch-icon-globe:before {
        content: "\67";
    }

}